body {
	background: url(Imagenes/fondoInicio.jpg) no-repeat center top;
	background-size: cover;
}

#contenedor {
	position: static;
	padding-top: 10%;
}

@media ( max-width : 952px) {
	body {
		background: #FADCAC;
	}
}