/PartoEJBLocal.class
/AbstractFacade.class
/EnfermedadEJB.class
/EnfermedadEJBLocal.class
/GuacheraEJB.class
/GuacheraEJBLocal.class
/TerneroEJB.class
/TerneroEJBLocal.class
/UsuarioEJB.class
/UsuarioEJBLocal.class
